<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to('<img src="/assets/logo.jpeg" class="header-logo">'.html_safe, root_path, class: "navbar-brand", method: "get") %>
      <%# <a class="navbar-brand" href="index.html">
        <i class="fab fa-empire"></i>
      </a> %>
      <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item active">
            <%= link_to('Home<span class="sr-only">(current)</span>'.html_safe, root_path, class: "nav-link", method: "get") %>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link scroll" href="#contact">Pricing Plans</a> -->
            <%= link_to("Pricing Plans", pricing_path, class: "nav-link", id: "pricing-nav-link") %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle services-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <span class="dropdown-item scroll">
                  <%= link_to('Dry Cleaning'.html_safe, service_dry_cleaning_path, class: "nav-link", method: "get") %>
              </span>
              <span class="dropdown-item scroll">
              <%= link_to('Shirts Service'.html_safe, service_shirts_path, class: "nav-link", method: "get") %>
              </span>
              
              <span class="dropdown-item scroll">
                <%= link_to('Bed linen & Household'.html_safe, service_household_linen_path, class: "nav-link", method: "get") %>
              </span>
              <span class="dropdown-item scroll">
              <%= link_to('Repairs & Alterations'.html_safe, service_repairs_alterations_path, class: "nav-link", method: "get") %>
              </span>
              <span class="dropdown-item scroll">
                <%= link_to('Wedding Dress Cleaning'.html_safe, service_wedding_dress_cleaning_path, class: "nav-link", method: "get") %>
              </span>
              <span class="dropdown-item scroll">
                <%= link_to('Leather & Suede Cleaning'.html_safe, service_leather_suede_path, class: "nav-link", method: "get") %>
              </span>
              <span class="dropdown-item scroll">
                <%= link_to('Collection and Delivery'.html_safe, service_collection_delivery_path, class: "nav-link", method: "get") %>
              </span>
              <!-- <a class="dropdown-item scroll" href="#services">Services</a> -->
              <!-- <a class="dropdown-item scroll" href="#team">Team</a> -->
              <!-- <a class="dropdown-item scroll" href="#gallery">Gallery</a> -->
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item scroll" href="#testimonials">Testimonials</a> -->
            </div>
          </li>
          <% if controller_name == "home" and action_name != "pricing" %>
            <li class="nav-item">
              <a class="nav-link scroll" href="#about">about</a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link scroll" href="#contact">contact</a>
          </li>
        </ul>
        <button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold" data-toggle="modal"
            aria-pressed="false" data-target="#exampleModal">
          order
        </button>
      </div>
    </nav>
  </div>
</header>
<marquee scrollamount="10">
  <span class="marquee-text">
    We are open Monday to Friday 8:00 am to 7:00 pm, Saturday 8:00 am to 6:00 pm, Sunday 10:00 am to 4:00 pm, Pickup & Deliveries are available Monday to Saturday 8:00 am to 7:00 pm Min order £20 T&C Apply
  </span>  
</marquee>
<script type="text/javascript">
  if(<%= action_name == "pricing" %>){
    $(".navbar-nav .active").removeClass("active")
    $(".navbar-nav #pricing-nav-link").addClass("active")
  }else if(<%= controller_name == "service" %>){
    $(".navbar-nav .active").removeClass("active")
    $(".navbar-nav .services-nav-link").addClass("active")
  }
</script>