<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" id="exampleModalLabel1">Book your Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag(place_order_home_index_path, method: :post, :html => {:class => 'p-3'}) do %>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Your Name</label>
            <%= text_field_tag :name, "",  type: "text", class: "form-control", placeholder:"", id: "recipient-name", required: "" %>   
          </div>

          <div class="form-group">
            <label for="recipient-name1" class="col-form-label">Your Email</label>
            <%= text_field_tag :email, "",  type: "email", class: "form-control", placeholder:"", id: "recipient-name1", required: "" %> 
          </div>

          <div class="form-group">
            <label for="recipient-name2" class="col-form-label">Phone</label>
            <%= text_field_tag :phone, "", type: "tel", pattern: '\d{11}', class: "form-control", placeholder:"", id: "recipient-name2", required: "", title: 'Phone Number (Format: +02072811111)' %> 
          </div>

          <div class="form-group">
            <label class="mr-2 col-form-label">Pick Up</label>
            <%= text_field_tag :pick_up, nil, type: "text", placeholder: "YYYY/MM/DD HH:MM", class: "form-control", required: "", id: "datepicker1", autocomplete: 'off'%> 
          </div>

           <div class="form-group">
            <label class="mr-2 col-form-label">Delivery</label>
            <%= text_field_tag :delivery, nil, type: "text", placeholder: "YYYY/MM/DD HH:MM", class: "form-control", required: true, id: "datepicker2", autocomplete: 'off'%> 
          </div>

           <div class="form-group">
            <label for="comment" class="col-form-label">Special Instruction (Optional):</label>
            <%= text_area_tag :special_instructions, nil,  class: "form-control", rows: "3", id: "comment" %>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l1">
              <%= check_box_tag :dry_cleaning, 1, false, class: "form-check-input" %> Dry Cleaning
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l2">
              <%= check_box_tag :shirt_service, 1, false, class: "form-check-input" %> Shirt Service
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l3">
              <%= check_box_tag :bedlinen_and_household, 1, false, class: "form-check-input" %>  Bedlinen & Household
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l4">
              <%= check_box_tag :repair_and_alterations, 1, false, class: "form-check-input" %>Repair & Alterations
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l5">
              <%= check_box_tag :dress_cleaning, 1, false, class: "form-check-input" %>Dresses Cleaning
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label col-form-label" for="l6">
              <%= check_box_tag :leather_and_suede_cleaning, 1, false, class: "form-check-input" %>Leather & Suede Cleaning
            </label>
          </div>

           <div class="form-group">
            <label for="comment" class="col-form-label">Pickup Address:</label>
            <%= text_area_tag :address, nil,  class: "form-control", rows: "5", id: "comment", :required => true %>
          </div>

          <div class="right-w3l">
            <%= submit_tag "Place Order", class: "form-control" %> 
          </div>   
        <% end %>  
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>

<script>
  $(function() {
      $("#datepicker1").datetimepicker({
        minDateTime: new Date(),
        defaultDate: false,
        autoclose: true
      });

      $("#datepicker2").datetimepicker({
        defaultDate: false,
        autoclose: true
      });


      $('#datepicker1').on('change', function () {
        $("#datepicker1").prop( "readonly", true );
        var d = $('#datepicker1').datetimepicker('getValue');
        var dd = String(d.getDate()).padStart(2, '0');
        var mm = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = d.getFullYear();
        var today = yyyy + '/' + mm + '/' + dd;
        if(d.getDate() == new Date().getDate()){
          $('#datepicker2').datetimepicker('setOptions', {
            minTime: 0,
            minDate: today,
          });
        }
        $('#datepicker2').datetimepicker('setOptions', {
          minDate: today,
        });
        // minTime: d.getTime() + (1*60*60*1000),
      });
      $('#datepicker2').on('change', function () {
        var d = $('#datepicker1').datetimepicker('getValue');
        var e = $('#datepicker2').datetimepicker('getValue');
        var dd = String(d.getDate()).padStart(2, '0');
        var mm = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = d.getFullYear();
        var today = yyyy + '/' + mm + '/' + dd;
        $("#datepicker2").prop( "readonly", true );
        if(d.getDate() == e.getDate()){
          $('#datepicker2').datetimepicker('setOptions', {
            minTime: d.getTime() + (1*60*60*1000),
            minDate: today,
          });
        }else{
          $('#datepicker2').datetimepicker('setOptions', {
            minTime: "00:00 am",
          });
        }
      })
    });
</script>
