<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Quick Silver Professional Dry Cleaners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Go Laundry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
    (function(){
      if(typeof _bsa !== 'undefined' && _bsa) {
          // format, zoneKey, segment:value, options
          _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
    </script>
    <script>
    (function(){
    if(typeof _bsa !== 'undefined' && _bsa) {
      // format, zoneKey, segment:value, options
      _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
    }
    })();
    </script>
    <script>
    (function(){
      if(typeof _bsa !== 'undefined' && _bsa) {
          // format, zoneKey, segment:value, options
          _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
    </script>
    <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
    <div id="codefund"><!-- fallback content --></div>
    <script src="https://codefund.io/properties/441/funder.js" async="async"></script>
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149859901-1');
    </script>

    <script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
     ga('require', 'eventTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('send', 'pageview');
    </script>
    <script async src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js'></script>
    <meta name="robots" content="noindex">
  </head>

  <body>
    <!-- header -->
      <%= render "layouts/partials/header" %>
    <!-- //header -->
    <!-- body -->
      <%= yield %>
    <!-- //body -->
    <!-- contact -->
      <%= render "layouts/partials/contact" %>
    <!-- //contact -->
    <!-- slide -->
      <%= render "layouts/partials/slide" %>
    <!--//slide-->
    <!-- footer -->
      <%= render "layouts/partials/footer" %>
    <!-- //footer -->
    <!-- order modal -->
      <%= render "layouts/partials/order_modal" %>
    <!-- //order modal -->
  </body>
</html>
